.carrossel{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
}

.carrossel .slide{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100%;
    opacity: 0;
    position: absolute;
    transition: 0.5s ease-out;
    display: flex;
    align-items: center;
}

.carrossel .slide .descricao{
    display: flex;
    gap: 30px;
    flex-direction: column;
    max-width: 300px;
    padding: 30px;
    margin-left: 150px;
    background-color: white;
}

.carrossel .slide.mostrar{
    opacity: 1;
}

.carrossel .seta{
    position: absolute;
    z-index: 1;
    scale: 0.6;
}

.carrossel .seta-voltar{
    left: 2%;
}

.carrossel .seta-avancar{
    right: 2%;
}

.carrossel .slider-cerejeira{
    background-image: url(../src/imagem-cerejeira.png);
}

.slider-cerejeira .descricao a{
    color:  #C50000;
}

.carrossel .slider-flores{
    background-image: url(../src/imagem-flores.png);
}

.slider-flores .descricao a{
    color:  #D9DD10;
}

.carrossel .slider-deserto{
    background-image: url(../src/imagem-deserto.png);
}

.slider-deserto .descricao a{
    color: #A63A17;
}

.carrossel .slider-gelo{
    background-image: url(../src/imagem-gelo.png);
}

.slider-gelo .descricao a{
    color:  #10ACDD;
}

.carrossel .opacidade{
    opacity: 0.2;
    cursor: default;
}